<h1>Stupid Coaching</h1>

<div class="you">
  <p class="font-size"><%= @question %></p>
  <p>- You</p>
</div>

<div class="coach">
  <p class="font-size"><%= @answer %></p>
  <p>- Your coach</p>
</div>

<%= link_to'Ask a new question', ask_path %>
